[2018-01-10 10:37] jotak opened #2 "Application-defined metrics"
Have a standard way to manage application-defined metrics. Currently the hawkular implementation uses a dedicated eventbus endpoint to collect application-defined data points. Which, obviously, affects eventbus internal metrics.

Maybe a more direct wiring should be proposed.

[2018-01-10 16:51] vietj opened #3 "Stack integration"
todo (non exhaustive) list for integration in the stack:

- [x] initial-work PR
- [x] snapshot publishing
- [x] labelled as tech preview
- [x] integration in vertx-stack project (bom and documentation)
- [x] web-site branch that publish documentation
- [x] blog post section for the release blog post that describes the feature and gives an example

[2018-01-16 08:31] jotak opened #10 "[Influx] dissociate prefix and measurement name"
The measurement+metric names are like:
    "vert.x vert.x.vertx.eventbus.publishedRemoteMessages"

That is a bit too much of "vertx" :)

Should be changed to "vert.x vertx.eventbus.publishedRemoteMessages"

[2018-01-16 09:30] jotak opened #11 "[Influx] Review model / measurement"
Currently there's 1 measurement (named "vert.x" by default) for all vertx metrics. Every timeseries is a field under that measurement.

Although I don't see any blocker / limitation because of this, I am not sure if it's a good design.

For instance, we could also have 1 measurement per metric category:

- vertx.http-server
- vertx.eventbus

etc.
WDYT?

PS: I'm not familiar with influxdb models. I

[2018-01-16 09:30] jotak commented on #11
Thoughts, @dankristensen , @vietj , @tsegismont  ?

[2018-01-17 16:05] tsegismont commented on #11
@jotak this might be a good read https://docs.influxdata.com/influxdb/v1.4/concepts/key_concepts/

[2018-01-17 16:29] jotak commented on #11
@tsegismont it's the link I gave just above :-)

[2018-01-17 16:46] tsegismont commented on #11
@jotak shame on me... My brain stopped at _WDYT?_

Do you know how Micrometer does it?

[2018-01-22 15:38] #10 closed

[2018-01-30 21:57] bckfnn commented on #11
Hi,

Assuming I read your code correctly, it looks like measurements are written to influx like this

vertx,async=true vertx.http.server.localhost:8081.connections=1 10
vertx,async=true vertx.http.server.localhost:8082.connections=2 10

(2 http servers running in this example and ignoring proper escaping & quoting)

It looks like the meassurements parameters are encoded in the measurement names, m

[2018-01-31 07:54] jotak commented on #11
Hi @bckfnn ,
I agree with your remarks. We are currently discussing and working on a complete rewrite with Micrometer ( http://micrometer.io/ ) in order to unify the backend reporting (prometheus and influx), and that would ultimately generate metrics as you suggested, like `vertx_http_server_connections,async=true,metric_type=gauge localhost:8081=1 10` (with actually some more fields)

[2018-01-31 08:09] bckfnn commented on #11
Having a micrometer.io integration in vertx-monitoring would be a perfect fit for our needs. So a huge +1.

[2018-02-10 22:19] bckfnn opened #13 "Gauges with alias get counted incorrect on jotak:mm branch when using influx"
When a Match is added that aliases a Gauge with a high cardinality tag like vertx.eventbus.handlers,address into _ the counting that is send to influx seems to go wrong.

In my program

      https://gist.github.com/bckfnn/6f46f1a3bcc8cc3820d86a2dc36830cc

I add a few handlers:

        vertx.eventBus().localConsumer("abc", $ -> {});
        vertx.eventBus().localConsumer("abc", $ -> {});

[2018-02-12 08:16] jotak commented on #13
I'll look into this today, thanks for reporting

[2018-02-12 16:30] jotak commented on #13
This should be fixed

[2018-02-12 21:16] bckfnn commented on #13
Yes, it is look very good. Thank you for the prompt fix.

[2018-02-12 21:16] #13 closed

[2018-03-16 16:56] jotak opened #15 "Implement options for all available micrometer backends"

[2018-03-16 16:57] jotak opened #16 "Allow to report to any number of backends"

[2018-03-27 13:06] vietj opened #17 "Asciidoc contains {@code} instead of backticks"

[2018-03-27 14:01] owahab opened #18 "How to use"
I am unable to use the project because the documentation links in the README are both broken.

[2018-03-27 15:00] tsegismont commented on #18
@owahab the README is fixed. You can only use the in-source docs for now though, the website has not been updated yet

[2018-03-27 15:00] #18 closed

[2018-03-27 16:23] tsegismont opened #19 "Remove timer metrics"
Follows up on eclipse/vert.x#2352

[2018-03-28 13:51] jotak opened #21 "Investigate missing metrics"
While writing a sample app (https://github.com/vert-x3/vertx-examples/pull/282) it seemed some metrics are missing for Influx. Could not get any HTTP server metrics.

Note that they are correctly provided when used with Prometheus backend.

[2018-03-28 14:03] jotak commented on #21
Never mind. I forgot to trigger requests :-D

[2018-03-28 14:03] #21 closed

[2018-03-29 07:11] jotak opened #22 "Add bucket information to enable prometheus histograms"
As per https://micrometer.io/docs/concepts#_histograms_and_percentiles

Note at the moment this will only benefit to Prometheus (and Atlas if/when supported)

[2018-03-30 13:26] jotak commented on #22
Note: It is possible to enable histograms programmatically without any change in vertx-micrometer-metrics, as demonstrated here: https://github.com/vert-x3/vertx-examples/pull/282/commits/5d49da4a4b130d72caac3273f12be83fbc4522b6

But it's maybe nicer to enable it from vertx options.

[2018-04-15 19:45] checketts commented on #16
I haven't dug into the vert.x code to see the current implementation, but I'm curious why the current Micrometer doesn't automatically allow all the backends Micrometer already supports.

For example Micrometer provides a `CompositeRegistry` that should address this issue already.

[2018-04-16 06:56] jotak commented on #16
@checketts this is because in Vert.x metrics SPI is activated through using dedicated option object for configuration, the user doesn't initialize the micrometer registry(ies) himself. That option class ( https://github.com/vert-x3/vertx-micrometer-metrics/blob/master/src/main/java/io/vertx/micrometer/VertxPrometheusOptions.java ) is currently not adapted for multiple backends.
It's really not a b

[2018-04-16 14:12] jotak commented on #17
@vietj I think you fixed it in the docgen plugin, right?

[2018-04-16 14:12] jotak commented on #17
(at least my generated index.adoc doesn't contain {@ code} anymore)

[2018-04-16 14:14] jotak commented on #16
This is partly fixed in https://github.com/vert-x3/vertx-micrometer-metrics/pull/24 , although we can keep this ticket opened if we want better integration with metrics options

[2018-04-16 14:14] jotak commented on #15
This is partly fixed in https://github.com/vert-x3/vertx-micrometer-metrics/pull/24 , although we can keep this ticket opened if we want better integration with metrics options

[2018-04-16 16:38] tsegismont commented on #16
@jotak for this one I think `io.vertx.micrometer.backends.BackendRegistries#setupBackend` could be changed to create a composite registry if more than one backend options are present and enabled.

[2018-04-16 16:44] tsegismont commented on #15
Not sure why we want to keep this ticket actually. We don't want to have all of them, but we can add them if community provides a PR

[2018-04-17 11:02] jotak opened #25 "Gauges reporting NaN randomly in tests"
Occasionally we can see test failures due to some gauges reporting NaN instead of the expected double value.
At the moment I am unable to reproduce, but I leave here some information found while debugging:

- Seen in test `VertxNetClientServerMetricsTest.shouldReportNetClientMetrics` : `vertx.net.client.connections` value is NaN
- This gauge is backed by a `LongAdder`, itself stored in a Map in `G

[2018-04-17 12:25] jotak commented on #2
Fixed via micrometer registry access ; properly documented

[2018-04-17 12:25] #2 closed

[2018-04-20 11:08] ckoutsouridis opened #27 "OOM due to metrics"
It seems that there is an issue with the metric dimensions and the dynamic values they can have.

After a while an out of memory will be thrown due to the metric registries. getting a heap dump it seems that the top components are:

- io.vertx.micrometer.impl.VertxEventBusMetrics
- io.vertx.micrometer.impl.VertxHttpServerMetrics

my configuration was hoping to get rid of the dynamic dimension valu

[2018-04-20 11:47] jotak commented on #27
Hi @ckoutsouridis

The default configuration should already ignore remote IPs reduce label cardinality, but indeed if you are generating dynamic eventbus addresses or http paths you would have to configure it manually. Maybe our default setup is not strict enough, we may have to tune it. Your feedback is important.

However, you say despite the settings you are still getting metrics for remote IPs

[2018-04-20 12:28] jotak commented on #27
Thanks, I've seen where the flaw is, it will be patched.
Then changing the behaviours with labels is another story, we'll put that in another github issue.

[2018-04-20 15:07] jotak opened #29 "Change default rules for LabelMatch"
Following #27 - just a question to eventually trigger discussion at this step, I'll change it to "enhancement" later if necessary.

**The issue**
Depending on the application, labels cardinality may be bounded or unbounded. Unbounded label values can be terrible for the metrics backend. There is already a mechanism that allows to ignore labels in the current API.

For example to ignore "address" l

[2018-04-20 15:15] jotak commented on #29
Currently the labels are:
* local (for http metrics, local ip/host) => not bounded vertx-wise
* remote (for http metrics, remote ip/host) => not bounded vertx-wise
* path (for http requests, endpoint path) => not bounded vertx-wise
* class (for error / exceptions on various metrics) => not bounded vertx-wise
* address (for event bus addresses) => not bounded vertx-wise
* side (local or remote; for

[2018-04-20 15:18] jotak commented on #27
For your information, PR #28 should fix this OOM.
I created a ticket #29 about default rules setup.

[2018-04-24 12:14] vietj commented on #27
@jotak what should we do with this issue ?

[2018-04-24 13:56] jotak commented on #27
@vietj I think it's fine to merge. The objects that were reported as consuming too much memory are simply removed, so the OOM should be fixed unless there is _something else_ that consumes too much.

Note that I haven't reproduced the OOM (no time yet to build kind of elaborated stress tests)

[2018-04-27 14:42] gklsan opened #30 "Micrometer not working with Clustered Vertx"
Hi i try to use  Micrometer in my project with clustered vertx. Is it any way to overcome this?.

[2018-04-28 14:35] gklsan commented on #30
Hi @vietj,  I'm using JRuby in my application with the Jubilee gem. I try to configure the micrometer in vertx option with clusteredVertx. If I enable setMetricsOptions true my application not starting. [Here](https://github.com/Mahaswami/jubilee/blob/5556997846fcce3da4cfa11be699e677acb5259d/src/main/java/org/jruby/jubilee/RubyPlatformManager.java#L63) is the file where I try the following configu

[2018-04-29 17:15] vietj commented on #30
do you have micrometer metrics in your classpath ?

alternatively you can try setup the `factory` on `MetricsOptions` directly `io.vertx.micrometer.impl.VertxMetricsFactoryImpl`

[2018-05-02 10:08] gokulmss commented on #30
@vietj kindly check this repository(https://github.com/gokulmss/clustered-vertx-with-mircometer) to reproducing this issue. This is the isolated code for the clear understand. To run refer README.md.

[2018-05-05 06:26] vietj opened #31 "Don't use provided Vert.x instance anymore"
we plan to not provide the Vertx instance to the metrics SPI anymore.

so the Vertx prometheus metrics should start its own Vertx instance instead of using the actual one.

[2018-05-07 18:39] tsegismont commented on #30
The only problem I can see in the reproducer is that you deploy verticles just after invoking `Vertx.clusteredVertx()`. This doesn't work (hence the NPE) but it is expected: creating a clustered Vert.x is an async operation so you can only deploy verticle when the Vert.x instance is ready. Like:

[code]

[2018-05-07 18:39] #30 closed

[2018-05-25 12:07] gokulmss commented on #30
Still we stuck with clusteredVertx time anyone can help us to solve this problem?

[2018-05-25 14:06] vietj commented on #30
@gokulmss did you follow @tsegismont advice ?

[2018-05-25 16:46] gklsan commented on #30
yeah, I tried that too. After initialize the clusteredVertx vertx object is nil.

[2018-05-25 16:47] gokulmss commented on #30
yeah, I tried that too. After initialize the clusteredVertx vertx object is nil.

[2018-05-25 16:53] vietj commented on #30
have you checked the asynchronous result ? there must be a failure on it then

[2018-06-14 12:22] liyuntao opened #34 "The value of path label should stay in pattern defination"
Assuming we have such rest-style route defination:
[code]

Currently when there's a request with new id hitting the server, there will be at least one new item generated.

[code]

I hope it can be like this:
[code]

[2018-06-14 15:15] jotak commented on #34
I wouldn't say the path *should* show its pattern definition, because the actual path may matter to some use case.

However you can define your own rules on labels. For instance you could do something like:

[code]

It's even recommended to either ignore labels that would have a high cardinality such as these  dynamic paths, or "rework" them to remove the dynamic part, but we cannot assume that no

[2018-06-15 06:18] liyuntao commented on #34
Yeah I agree that. It maybe more reasonable if we make the path tag configurable.

The scene originated from my recent work, which is Integrating monitoring capabilities into a variety of framework we are using (vertx 3.5.x, spring-boot 2.x). In spring boot 2, there's a lib called spring-boot-actuator which also provides out-of-box monitoring capabilities using micrometer. The uri label in actuato

[2018-06-15 07:06] jotak commented on #34
How do you mean configurable ? The code snippet that I show above is a way to configure it, so the current API allows it. But I recognize that it requires some work on the user side to manipulate regexs.

I'm investigating how feasible it is to provide directly the path pattern, because right now the metrics implementations doesn't have access (as far as I know) to this information so it would pro

[2018-06-15 07:45] jotak commented on #29
Changed to enhancement as it becomes obvious it must be done

[2018-06-20 12:31] CountZukula opened #36 "Vertx - InfluxDB metrics keeping connection open"
I am trying to incorporate metrics reporting into my Vertx application (Java), through an InfluxDB instance. However, when I try to gracefully end my application, there is a hanging thread somewhere. I managed to track it down to the InfluxDB connection for vertx's metrics reporting, or so it seems, but I don't see a way to kill it off. Can anyone point me in the right direction?

A minimal workin

[2018-06-20 14:24] jotak commented on #36
Hi,
Thanks for reporting. The issue comes from micrometer and was actually fixed recently, in 1.0.5 (vert.x uses 1.0.0 so we will upgrade it).
See https://github.com/micrometer-metrics/micrometer/commit/7b2795e375aea96c69bdbdb92f5ec6e18b057de4

[2018-06-20 14:29] CountZukula commented on #36
All right, good to know I don't have to spend more time looking for an answer! So, I'll keep an eye on https://github.com/vert-x3/vertx-micrometer-metrics/blob/master/pom.xml and see when the dependency on 1.0.0 changes?

[2018-06-20 14:56] jotak commented on #36
Yes, I don't know in which context you're using it and if sticking to `master` is an option for you. I've sent the patch in prevision of the future release 3.6.0

[2018-06-20 15:01] tsegismont commented on #36
@CountZukula how about forcing the recent micrometer version in your build file?

[2018-06-21 08:10] CountZukula commented on #36
@tsegismont I forced 1.0.5 for both micrometer-core and micrometer-registry-influx, that seems to do the trick! Thanks for the fix, now I can quietly wait for the new version of vertx-micrometer :)

[code]

[2018-06-21 08:10] #36 closed

[2018-06-26 12:27] CountZukula opened #38 "vertx.eventbus.handlers explodes when attaching replyhandler"
I am trying to send a stream of data through the eventbus which can optionally be caught by a couple of clients. This is a continuation of a previous setup, so I already have a working influx/grafana backend to accommodate the metrics output. I saw some strange behaviour when using the eventbus though: the amount of metrics sent to the backend explodes  when you attach a `replyHandler` to the `sen

[2018-06-26 13:30] jotak commented on #38
Quick solution: you can use a matcher to "redirect" all metrics matching a given pattern to another one:

[code]

Since the reply addresses are all like `/^\\d+$/`, this will put them all under label "address: reply-address".

However, this is certainly not an ideal solution. Keep this ticket opened, ideally it should work out of the box.

[2018-06-26 13:37] CountZukula commented on #38
Thanks @jotak ! I'll implement your fix in the mean while.

[2018-06-26 13:49] jotak commented on #38
Actually, with this upcoming pull request: https://github.com/vert-x3/vertx-micrometer-metrics/pull/35 the `address` label will be disabled by default, so the default case will be safe.

Then it will be up to you to enable & configure it properly or not.

In addition, there's also an opened issue [ https://github.com/eclipse/vert.x/issues/1240 ] that aims to discriminate internal eventbus addresse

[2018-06-28 06:37] jotak opened #39 "Filter out internal eventbus addresses"
Once https://github.com/eclipse/vert.x/pull/2516 is merged, internal eventbus addresses will be distinguished with pattern "__vertx.[net|ws|reply].randomUUID".

More generally, we can assume that addresses starting with "__vertx" are internal.
They should be filtered out from eventbus metrics.

Open question: any interest in making this filtering configurable? ie. user will be able to track vertx

[2018-07-02 08:11] #29 closed

[2018-07-24 12:56] tsegismont commented on #39
@jotak I think it's fine to simply ignore them for now (no filtering flag)

[2018-07-24 16:46] mangatmodi opened #41 "Provide HTTP Method key in all the relevant VertxHttpServerMetrics"
For following Metrics, we don't have HTTP Method Key.
  - requests
  - requestResetCount
  - responseTime

It is not possible to have correct analysis without the Method. For e.g. response time for GET and POST on a resource might differ. We are already having HTTP Method available in requestCount, so same can be easily done for others.

[2018-07-24 16:55] mangatmodi commented on #41
I have created a PR for the same here https://github.com/vert-x3/vertx-micrometer-metrics/pull/42.

[2018-07-25 14:53] #41 closed

[2018-07-26 09:35] tsegismont commented on #41
@jotak make sure to add the milestone on issues fixed in master

[2018-07-26 10:40] #39 closed

[2018-08-31 07:07] ctron opened #44 "Allow to use existing instances MeterRegistry"
When using Spring Boot with Micrometer it may be that an application already has a MeterRegistry instance, managed by Spring Boot. However I don't see a way right now that vertx can report to an existing Micrometer MeterRegistry.

[2018-08-31 08:30] jotak commented on #44
Hi @ctron ,

This is  only implemented on master / 3.6 but not in the initial implementation for vert.x 3.5.x

See on master branch https://github.com/vert-x3/vertx-micrometer-metrics/blob/master/src/main/java/examples/MicrometerMetricsExamples.java#L230-L239

You will be able to pass an existing micrometer registry through the metrics options.

[2018-10-12 14:10] santiagopoli commented on #34
+1 For this. Having to manually configure Regexes with all known paths seems like a burden to me.

[2018-10-15 13:38] tsegismont opened #45 "Activate Prometheus backend via sysprop"
It would be nice to be able to activate the Prometheus backend via sysprops.

Also, all JVM metrics.

[2018-10-15 14:56] jotak commented on #45
@tsegismont is there some generic converter from sysprops to Vert.x *Options object? That would help, and not only in this module I guess.

[2018-10-15 14:58] cescoffier commented on #45
@jotak Yes there is some kind of conversion between system environment and Options. (https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/impl/launcher/commands/BareCommand.java#L254).

However, it's limited to the Launcher.

[2018-10-15 16:15] tsegismont commented on #45
@jotak I am preparing a PR but it will not use what Clément just posted. It will hook in `VertxMetricsFactoryImpl.newOptions()`

[2018-10-15 16:26] tsegismont opened #46 "Avoid hard dependency on vertx-web"
`PrometheusBackendRegistry` requires `vertx-web` to expose metrics with an embedded HTTP server.

Vert.x core should be enough.

[2018-10-15 16:28] tsegismont opened #47 "Polyglot Vert.x Web handler for Prometheus scraping"
Currently users have to write code using Prometheus client classes directly. A polyglot interface providing a Vert.x Web handler would be nice.

[2018-10-15 17:45] cescoffier commented on #45
Yes, better avoid it here. We don't want to depend on the launcher.

[2018-10-16 13:05] #46 closed, assigned to tsegismont

[2018-10-16 14:52] tsegismont commented on #45
@cescoffier well... this method is called only when using the `Laucher` or the Vert.x `bare` command :)

[2018-10-16 14:55] tsegismont commented on #45
But the fact is that `BareCommand#configureFromSystemProperties` doesn't help with nested configs. And `VertxMetricsFactoryImpl.newOptions()` was created specifically to let Metrics SPI implementors initialize the options object.

@cescoffier can you confirm it's fine to depend on the Launcher for config via sysprops?

[2018-10-17 13:07] #47 closed

[2018-10-19 12:18] tsegismont commented on #45
Closing this one in favor of eclipse-vertx/vert.x#1729

Having an external file (or cli argument) with JSON allows to not only configure the Prometheus backend, but all of this module options and Vert.x core options.

[2018-10-19 12:18] #45 closed

[2018-10-19 12:50] tsegismont opened #50 "Add a switch for JVM metrics in MicrometerMetricsOptions"
Currently, users must add some code after Vert.x is started to collect JVM metrics. It would be nice to have a switch in `MicrometerMetricsOptions`.

The JVM metrics would be added to the registry configured in `MicrometerMetricsOptions`, or to the default one.

[2018-10-21 15:36] #50 closed

[2018-10-30 10:43] cescoffier opened #52 "Quantiles not available in metrics"
I've a simple application explosing a HTTP endpoint (greeting endpoint):

[code]

The promethous output is quite minimal:

[code]

Quantiles and avarages are missing.

[2018-10-30 10:44] vietj commented on #52
@jotak is that something you can investigate ?

[2018-10-30 11:03] jotak commented on #52
sure

[2018-10-30 11:08] jotak commented on #52
For a quick response (I haven't investigated yet) I remember that percentiles had to be activated : see https://github.com/vert-x3/vertx-micrometer-metrics/issues/22
https://github.com/vert-x3/vertx-examples/commit/5d49da4a4b130d72caac3273f12be83fbc4522b6

For averages, if I'm correct there's no direct metric providing average but it's common with prometheus to compute at querying: see https://pro

[2018-10-30 11:12] jotak commented on #52
Let me know if you think we should provide a default configuration for histograms... Issue #22 is for that purpose

[2018-10-30 12:17] vietj commented on #52
I think it would be good to have this documented at least.

[2018-10-30 12:39] cescoffier commented on #52
@jotak Who is `registry` in the example code?

[2018-10-30 12:40] cescoffier commented on #52
@tsegismont @jotak it should be possible to enable this using the new `options` parameter.

[2018-10-30 12:54] jotak commented on #52
@cescoffier for registry:
[code]
It's something specific for Prometheus

[2018-10-30 15:00] jotak commented on #52
@cescoffier you have to query using a dedicated prom function: histogram_quantile
Exemple:
`histogram_quantile(0.95, sum(rate(vertx_http_server_bytesSent_bucket[5m])) by (le))`

[2018-10-30 15:56] cescoffier commented on #52
Ok, definitely something we should document....

[2018-11-06 10:21] tsegismont opened #54 "New EB metric to monitor if a consumer cannot cope with messages delivered"
When a message is delivered locally, a handler task is scheduled for execution. If a consumer cannot keep-up with sent messages, the handler tasks will pile up in the executor queue.

Using the EB metrics SPI, it is possible to determine how many messages have been delivered but not yet handled.

Monitoring such a metrics, users could decided how to adapt to high traffic, e.g. spawning new nodes.

[2018-11-06 10:44] tsegismont opened #56 "VertxEventBusMetricsTest.shouldReportEventbusMetrics failure"
https://travis-ci.org/vert-x3/vertx-micrometer-metrics/jobs/451294573

[2018-11-06 10:44] tsegismont commented on #56
@jotak can you please take a look? Thank you!

[2018-11-06 14:18] #56 closed

[2018-11-08 08:13] #22 closed

[2018-11-08 08:13] #52 closed

[2018-11-08 09:41] tsegismont opened #58 "Build failure due to PrometheusMetricsITest.shouldBindExistingServer"
https://travis-ci.org/vert-x3/vertx-micrometer-metrics/jobs/452269867

[code]

[2018-11-08 10:12] jotak commented on #58
I think I'll have to increase the timeouts :(

[2018-11-08 15:12] jotak commented on #58
fixed with https://github.com/vert-x3/vertx-micrometer-metrics/commit/73f43b0886445d0b46545181bd87306767e530be

[2018-11-08 15:12] #58 closed

[2018-11-09 16:13] vietj opened #59 "ExternalConfigurationTest.testPrometheusDefaults failure in CI"
reported by Travis : https://travis-ci.org/vert-x3/vertx-micrometer-metrics/jobs/452894113

[code]

[2018-11-21 08:14] rmohta opened #60 "How to stop collecting Metrics for running application?"
I have enabled Metrics collection, to be scraped by Prometheus. For any reason, if Prometheus scraper is down for a long period of time - how can I reduce memory pressure on application?

* Can we stop collecting metrics? Looking at [EventBus class close method](https://github.com/vert-x3/vertx-micrometer-metrics/blob/master/src/main/java/io/vertx/micrometer/impl/VertxEventBusMetrics.java#L156) is

[2018-11-21 08:50] tsegismont commented on #60
Can you elaborate on your issue? Like, what's the difference when metrics
are on/off? How many metrics are you collecting? Which version are you
using? Have you enabled matchers to collect only specific metrics?

Thank you

[2018-11-21 22:08] bckfnn opened #61 "Upgrade Micrometer to 1.1.0"
How about an upgrade to micrometer 1.1.0 before vert.x 3.6.0 is finalized?

[2018-11-21 22:15] vietj commented on #61
@jotak ?

[2018-11-22 07:50] jotak commented on #61
Ok, investigating changes...

[2018-11-22 07:57] jotak opened #62 "Micrometer 1.1 improvements to investigate"
Investigate some of the improvements from mm 1.1 that don't come out of the box (meaning, we need to implement something)

See https://github.com/micrometer-metrics/micrometer/releases/tag/v1.1.0

Ex:
- [ ] Adding config flag / helper to enable DiskSpace metrics?
- <strike>  Use strong reference on Gauges (should help simplify our code) </strike> it actually doesn't help ; our concurrent hashmap i

[2018-11-22 08:01] jotak opened #63 "Setup performance tests"
We should have some perf tests on high volume of metrics to track improvements and regressions on code changes and/or micrometer updates.

[2018-11-22 08:05] jotak commented on #38
Closing as there was a temporary workaround + a fix for upcoming vert.x 3.6

[2018-11-22 08:05] #38 closed

[2018-11-22 08:05] #17 closed

[2018-11-22 08:07] jotak commented on #16
multiple backends now possible and documented

[2018-11-22 08:07] #16 closed

[2018-11-22 08:07] #3 closed

[2018-11-22 08:46] jotak commented on #61
Hmm, looks like something changed with the influx naming convention, I've always thought default convention was to use dot separators for influx but in micrometers source code comment it states telegraf convention is to use underscores.
I guess we'll stick to micrometer default and use underscores as well.

[2018-11-22 09:05] tsegismont commented on #61
@jotak Is this configurable? I believe it's fine to use the new default, as long as we document this in the [3.6 breaking changes page](https://github.com/vert-x3/wiki/wiki/3.6.0-Breaking-Changes)

[2018-11-22 09:11] bckfnn commented on #61
I think the use of dots in influx names in micrometer v1.0.5 was a regression that only occurred in that version:

https://github.com/micrometer-metrics/micrometer/issues/693

[2018-11-22 09:44] jotak commented on #61
@tsegismont this is configurable indirectly via micrometer registry accessor. Does breaking changes need to be documented for TP stuff?

@bckfnn yes I've seen this issue, so I understand this is an intended change and not a bug. I couldn't find a clear statement that snakecase is a convention for influx however.

[2018-11-22 10:00] jotak commented on #60
@rmohta more information could help us to better understand the issue.
However, potentially it can be something related to this: https://github.com/vert-x3/vertx-micrometer-metrics/issues/38#issuecomment-400309227
Check this link if the memory pressure is related to the high number of metrics (such as having unbounded eventbus addresses).

Default options in Vert.x 3.6 will be safer in that regard

[2018-11-22 10:07] tsegismont commented on #61
@jotak what do you mean with _TP_?

[2018-11-22 10:57] vietj commented on #63
couple of points:

- can we come up with a plan for that ?
   - scenarii we want to test each component separately (HttpServer, HttpClient, etc...)
   - with a backend or no backend ?
   - enabled / disabled to compare overhead
- we do have a performance lab for testing this

[2018-11-22 10:58] jotak commented on #61
@bckfnn you're right, the last micrometer update that we did was to 1.0.5, and we fixed the names for influx registry in our tests: https://github.com/vert-x3/vertx-micrometer-metrics/pull/37 . I thought at the moment it was an intended behaviour, but turning out it was a bug.

[2018-11-22 19:15] rmohta commented on #60
@jotak using VertX 3.5.3 with worker vertices communicating over event bus. There is no filtering as of now (will look into this).
My app generates about 4MB+ metrics output for every scrape, with many related to EventBus for every address.

[2018-11-25 19:09] rmohta commented on #60
We have following meterFilter
[code]

[2018-11-26 08:03] jotak commented on #60
So, as mentioned in the link above, if you don't need that level of granularity on eventbus metrics (that is, you don't need to store eventbus metrics per address) you can do the following on Vert.x options:

[code]
You won't need to do it in the upcoming vert.x 3.6

[2018-11-27 10:33] jotak commented on #61
Actually, there's no breaking change @tsegismont . The use of dots was introduced only in a previous commit on master and never backported in 3.5

[2018-11-27 10:41] #61 closed

[2018-11-28 13:42] vietj opened #66 "Failure in Travis"
https://api.travis-ci.org/v3/job/460763712/log.txt

[code]

[2018-11-30 09:58] tsegismont commented on #66
I believe this has been fixed in #64

[2018-11-30 09:58] #66 closed

[2019-01-02 14:41] #19 closed

[2019-02-10 18:55] u6f6o opened #68 "Label.HTTP_CODE is not exposed in the exposed request related histograms"
According to the [documentation](https://vertx.io/docs/vertx-micrometer-metrics/java/#_labels_and_matchers), one can enrich the exposed metrics by useful labels like HTTP_PATH, HTTP_METHOD and so on.

One label I am particularly interested in, is the HTTP_CODE label. I activated this label in my setup method like the following:

[code]
When I query the metrics endpoint, I see that this label is ex

[2019-02-11 08:28] jotak commented on #68
This is as described in the documentation, this metric is currently not labelled with the response code: https://vertx.io/docs/vertx-micrometer-metrics/java/#_vert_x_core_tools_metrics

Each metric may have its own set of labels for various reasons.
However in that case it seems reasonable to add a response code label, indeed. I'll look into it.

[2019-02-11 08:50] u6f6o commented on #68
Thank you @jotak

To give a little bit of background: I am migrating one of our services from clojure to kotlin and vertx. A main part of this task is to see how well vertx fits in our current setup which is mostly dominated by spring boot and clojure atm.

If I could be of any help by providing a pull-request, please let me know

[2019-02-11 10:22] jotak commented on #68
@u6f6o I did a PR, feel free to test it: #70 for next vertx version (3.7)

[2019-02-11 12:02] u6f6o commented on #68
@jotak I just gave it a try and it worked both for server and client metrics 👍

[2019-02-11 13:26] u6f6o commented on #34
+1 to provide a label for the origin path pattern (e.g. path="/api/v1/registry/user/:userId")

I recently wrote a micrometer wrapper for our clojure services and initially provided the fully resolved path as well. In consequence, our prometheus instances on the production system died shortly after the release and later on the migrated services as well due to OOM.

If you define paths containing fo

[2019-02-11 14:14] jotak commented on #34
For a quick status about this issue: problem is that the metrics implementation only has access, to this day, to the `HttpClientRequest` object (from vertx-core) , whereas the static information that we'd like to have is defined and "belongs" to `RoutingContext` from vertx-web.
So we would need something like passing more context into `HttpClientRequest` so that metrics can use it.

[2019-02-11 14:16] jotak commented on #34
@vietj any suggestion about that?

[2019-02-11 14:56] vietj commented on #34
we could define extra callbacks in the SPI metrics that would be called by Vert.x Web ?

i.e something like `void requestRounted(R requestMetric, String route)`

this would be called by Vert.x Web or a similar framework.

[2019-02-13 13:59] #68 closed

[2019-02-14 16:10] jotak commented on #34
@vietj sounds good, planning it for 4.0 ?

[2019-02-15 10:47] vietj commented on #34
yes rather 4.0

[2019-03-20 11:21] nolequen opened #71 "Using custom Prometheus collector registry"
In my application I have own Prometheus metrics and I want to use the same collector registry as for Vert.x metrics.

[2019-03-20 13:51] jotak commented on #71
Hi @nolequen
I think you can already do that with `MicrometerMetricsOptions.setMicrometerRegistry`.
Looking at your commit, what you want to do is to re-use not the _micrometer_ registry, but the _collector registry_ from Prometheus client (without micrometer).

I guess you could do something like this, while setting up your vert.x options:

[code]

without any change in vertx code. Does it sound

[2019-03-20 16:09] nolequen commented on #71
hi @jotak
Your solution looks nice, but unfortunately it ignores specified VertxPrometheusOptions.

[2019-03-21 08:06] jotak commented on #71
@nolequen that's right ... so you would have to basically duplicate this code within your application code: https://github.com/vert-x3/vertx-micrometer-metrics/blob/master/src/main/java/io/vertx/micrometer/backends/PrometheusBackendRegistry.java

I'm going to patch so don't you don't have to.

[2019-03-21 08:15] nolequen commented on #71
@jotak why you want to patch by yourself? why not to merge the PR?

[2019-03-21 08:34] jotak commented on #71
@nolequen since there's already a mechanism to provide a registry, I'm not sure that adding a second one is really necessary. It just has to be fixed regarding the issue you raised (and this, regardless if your PR is merged or not). In terms of API, having different ways to achieve the same goal may be confusing.

[2019-03-21 10:45] nolequen commented on #71
@jotak ok. I'll be waiting for the fix. thanks!

[2019-03-27 08:52] #71 closed

[2019-03-28 04:18] sfitts opened #74 "NullPointerException in io.vertx.micrometer.impl.VertxEventBusMetrics.handlerUnregistered"
We are seeing an intermittent, but frequent (at load it happened about 300K times over a 30 minute span), NPE in `io.vertx.micrometer.impl.VertxEventBusMetrics.handlerUnregistered`.  Here is the stack starting from where our code is calling `unregister` on an event bus consumer.

[code]

I've been over the code a bunch and I honestly don't see how this is possible.  I don't see where/when the "met

[2019-03-28 08:46] jotak commented on #74
We could probably do a defensive null-check in `VertxEventBusMetrics.handlerUnregistered` , but still there must be something going wrong in `HandlerRegistration` class.

@vietj , any idea? It's like the `VertxEventBusMetrics.handlerUnregistered` method being called without any prior call to `VertxEventBusMetrics.handlerRegistered`.

[2019-03-28 09:06] vietj commented on #74
it might be a bug (race?), if you have a reproducer I can investigate.

[2019-03-28 15:40] sfitts commented on #74
@vietj unfortunately I haven't been able to reproduce this outside of live fire/high load situations.  So I have no idea where to even start to boil it down to something simple and Vert.x only.

@jotak interesting thought -- I hadn't considered a possible race between the registration and unregistration code.  Given that we have a registered consumer in our hands I was more focused on possible dup

[2019-03-28 21:29] sfitts commented on #74
@vietj

I think I know what is happening here.  The registration in question is global and we are running in a clustered environment.  So I think we are creating the consumer and then calling `unregister` on it *before* it has had a chance to fully propagate the subscription across the cluster.  As a result `HandlerRegistration.setResult` method will not have been called and the `metrics` filed wo

[2019-03-29 08:04] vietj commented on #74
thanks Sean.

[2019-04-01 03:58] jahanzebbaber opened #75 "Adding a label match for "path" causes NPE in"
Setting up vertx metrics options like this causes NPE whenever you try to hit the http server:

[code]

The issue is pretty easily reproducible. In PrometheusMetricsITest's shouldStartEmbeddedServer test, I have added the same LabelMatch and the test does fail:
https://github.com/vert-x3/vertx-micrometer-metrics/commit/9b35c7775d71ffc427de1b10cdff33a7a2fa3c69?diff=split

The stack trace I have fro

[2019-04-01 04:33] jahanzebbaber commented on #75
This does seem to work:
https://github.com/jahanzebbaber/vertx-micrometer-metrics/commit/938a4038f7d1d6df283621f2cb31a6d60669d894
Happy to raise a PR if this is indeed an acceptable fix.

[2019-04-01 06:46] jotak commented on #75
Hi @jahanzebbaber , thanks for reporting

Yes please, a PR is welcome

[2019-04-01 18:44] jahanzebbaber commented on #75
Raised a PR with a brand new branch:
https://github.com/vert-x3/vertx-micrometer-metrics/pull/76

[2019-04-08 16:42] vietj commented on #74
should be fixed by https://github.com/eclipse-vertx/vert.x/pull/2901

[2019-04-08 16:42] #74 closed

[2019-05-16 09:50] neterium opened #78 "Micrometer exception, message not handled"
Hi,

when my vertx cluster starts, I sometimes have this exception if I want to directly send a message. It does not happen afterwards. The issue is that the exception is raised in the beginHandleMessage, so the handle itself is not called.

Here's the stack trace:

[code]

Maybe that, in VertxEventBusMetrics::beginHandleMessage, you should check if handler is null first? Looks like it's possible

[2019-05-17 03:10] hc-codersatlas opened #79 "java.lang.NoClassDefFoundError: io/micrometer/prometheus/PrometheusMeterRegistry"
Hi, getting java.lang.NoClassDefFoundError: io/micrometer/prometheus/PrometheusMeterRegistry

Because it's required in BackendRegistries.

I'm not using Prometheus  and so haven't imported it in micrometer. Specifying a custom meterRegistry as per documentation.

[2019-05-18 13:34] manzur commented on #79
Hey,

I had a similar issue, so made a band aid fix. As mentioned in the commit message, branching can be re-written in a different way, as the option with specifying both registry and additional options seems to be not mentioned in the docs.

[2019-05-21 13:14] jotak commented on #78
I think it's a duplicate of #74 , there's already a fix that should be there in 3.7.1 (eclipse-vertx/vert.x#2901)

[2019-05-21 13:17] jotak commented on #75
I'm closing, PR was merged. Thank you @jahanzebbaber

[2019-05-21 13:17] #75 closed

[2019-05-21 13:19] jotak commented on #79
Thank you @hc-codersatlas , @manzur for spotting the issue. @manzur I'm reviewing your PR.

[2019-06-05 10:53] nolequen opened #81 "NPE in VertxEventBusMetrics on delivering message while handler registration is not finished yet"
[code]
[code]

[2019-06-05 13:25] jotak commented on #81
This should already be fixed in 3.7.1, see #74 / https://github.com/eclipse-vertx/vert.x/issues/2892
Can you confirm?

[2019-06-06 07:57] nolequen commented on #81
@jotak no.
Unfortunately I'm getting same errors on 3.7.1 too.

[2019-06-15 15:12] lemon-li opened #83 "About Enable PublishQuantiles."
Hello.
If I set `PublishQuantiles = true`, there are more than 200 items vertx_http_client_responseTime_seconds_bucket per scrap,
Is there any way to reduce it?

[2019-06-17 07:17] #81 closed

[2019-06-17 07:40] jotak commented on #83
Hi @lemon-li ,

This module uses Micrometer metrics under the hood, and when you set `publishQuantiles(true)` it just activates the corresponding flag within micrometer, which is named `publishPercentileHistogram` and is described here: https://micrometer.io/docs/concepts#_histograms_and_percentiles

Another way to get quantiles is to explicitly require specific buckets to be available. It's descr

[2019-06-18 08:24] lemon-li commented on #83
Thank you very much for your reply, I hope to add configuration to vertx metrics config.
I tried to change `maximumExpectedValue,`  it work.

[2019-06-19 03:03] rmohta commented on #63
@vietj @jotak : Is this still an open issue?
If yes, is there a separate performance lab provisioned for this?

[2019-06-20 02:42] #83 closed

[2019-06-21 15:50] vietj commented on #63
@rmohta we do have an internal lab (behind VPN) for this, so I think testing plan would be in community and anyone can run tests and we could run them in the private performance lab

yes it remains an open issue

[2019-06-24 15:31] rmohta commented on #63
Sounds good @vietj. If this is still an open issue, I can start documenting some test plans and share them here. Do we have any particular preference for performance test like any particular software or I am open to choose one? And I am assuming this ticket is **not** for micro-benchmarks using jmh.

[2019-07-14 20:11] #79 closed

[2019-07-24 12:31] tjakopan opened #84 "Exception when jvm metrics are enabled"
If jvm metrics are enabled getting the metrics snapshot will fail.

The cause of the error is line 99 in io.vertx.micrometer.impl.MetricsServiceImpl which is trying to cast CumulativeFunctionCounter to Counter.
The following exception is caught in line 126 in RoutingContextImplBase - java.lang.ClassCastException: io.micrometer.core.instrument.cumulative.CumulativeFunctionCounter cannot be cast to

[2019-07-24 12:47] tjakopan commented on #84
Reproducer is for vert.x 3.8.0, but I've experienced this in 3.7.0.

[2019-07-24 14:18] jotak commented on #84
@tjakopan thanks for the report, I'm starting to look at it

[2019-07-24 14:26] tjakopan commented on #84
No problem. This might be the fix, although I still need to test it. I've done it on 3.7.1 tag since my project was on 3.7.0, but 3.7.1 contains another fix for Prometheus registry (instanceof).

`  private static JsonObject metricToJson(Meter meter) {
    JsonObject tags = new JsonObject();
    meter.getId().getTags().forEach(tag -> tags.put(tag.getKey(), tag.getValue()));
    JsonObject obj = ne

[2019-07-24 14:37] jotak commented on #84
Yes, that sounds to be the right way to do. Are you going to open a PR?

[2019-07-24 14:41] tjakopan commented on #84
I can do, although I haven't done it for vert.x yet, so might need some guidance.

Can it be done on 3.7.1? Will there be 3.7.2? Or should I do it on 4.0.0?

[2019-07-24 14:51] jotak commented on #84
You can do it on master (so it's 4.0.0) and I'll cherry-pick to the other relevant branches when it's merged. Or the other way around if you prefer.

There's no much ceremony, if you can write a small test it's even better. There's already a couple of those in MetricsServiceImplTest.

[2019-07-24 14:54] tjakopan commented on #84
Will do that then. I'll write a test, but it'll have to be in the next couple of days and then I'll open the PR.

[2019-07-26 12:43] tjakopan commented on #84
Hi, I've opened the PR - #85

[2019-07-26 13:58] jotak commented on #84
it's merged & cherry-picked to 3.8 branch.
Thanks for your contrib!

[2019-07-26 13:58] #84 closed

[2019-09-24 08:03] encodeering opened #86 "Memory usage for http server gauges"
Hey,

thanks for bridging micrometer with vertx. We are currently seeing some sort of slow memory increase for gauges, especially for the ones from the http server.

It seems that this topic had been addressed in https://github.com/vert-x3/vertx-micrometer-metrics/issues/27

Was there a specific reason why the Gauges still keep a reference in contrast to the other metrics that have been changed wi

[2019-09-24 08:36] vietj commented on #86
can you investigate @jotak ?

[2019-09-24 09:36] encodeering commented on #86
Wrote a small sample and my previous statement with the ID's seems to be wrong.
ID will be just the name without `LOCAL` and `REMOTE` with the `ignoreTags` filter.

Will also investigate further, but this is what I used, maybe you have some tips for me:

[code]

[2019-09-24 10:40] encodeering commented on #86
The issue seems to arise when a composite registry is in between, which doesn't have the meter filters applied to it. In that case, the final `MeterId` instance will contain all tags.

Sorry for taking your time. Not sure if you still want to look at the extra storage inside of the gauge, but going to ask micrometer if there is a way without applying all filters the outer-most registry again.

Alt

[2019-09-25 08:49] jotak commented on #86
Hi @encodeering ,

Sorry I haven't had time to investigate yet, will do so. Trying to understand: so the micrometer's composite registry is storing gauge ids (with labels) regardless what is filtered or not - and so, beside a potential fix in micrometer, we could also do something here to filter out unwanted labels _before_ providing it to micrometer.

Maybe the first thing to try could be to chec

[2019-09-30 11:29] encodeering commented on #86
Hi @jotak,

no worries about that.

Here a bit of the context: We are using a composite registry as aggregation repository for `any` other registry that may want to take part getting the metrics and this details should not be known by any client. All `removal` filters will now be applied to the outer-most composite registry - so it's not an urgent topic.

Changing different metrics per filter work

[2019-10-09 13:18] elR1co opened #87 "Missing metrics for vertx.http.server with Prometheus"
I am using the vertx micrometer library with Prometheus as backend registry on a vertx HTTP server. When I display the available metrics, I am missing the `vertx.http.server.*` ones by default. Only when a first client do an HTTP request, then I get the metrics.

Would it be possible to get these `vertx.http.server.*` metrics with a default value as soon as the server is up, and not wait for the f

[2019-10-09 14:05] jotak commented on #87
The problem is that these metrics have dimensions, that is they only exist for a given set of labels such as the http verb, response code, potentially the remote end, etc. So what you ask would be to initialize the metrics across ALL these dimensions, which is not possible because the label values are not always known.

But I would ask, why would you need that? Maybe there's other ways to work aro

[2019-10-09 14:20] elR1co commented on #87
Ok, let's be specific. Let's say I have an HTTP server and I want to know the number of users connected with websockets. Before the first user is doing a request, the metric does not exist. For Prometheus, it is like the server is down as we have a "hole" in our timeseries. A workaround would be to trigger a health check at the server startup of course. But does it make sense to you to give a defa

[2019-10-19 03:19] jonatan-ivanov commented on #86
I have the same issue: the `Meter.Id` contains the tags and one of the tags is the path that frequently contains resource ids in case of REST services.

Does anyone know why wasn't the `ConcurrentHashMap` removed from `Gauges` while it was removed from everywhere else in #28 ? Also, why was it needed in the first place?

[2019-10-31 14:27] jotak commented on #86
@jonatan-ivanov iirc the difference of implementation between gauges and others was for historical reasons, as micrometer api didn't offer strong references on gauges, so I had to keep references in another way. But see point number 2 here: https://github.com/vert-x3/vertx-micrometer-metrics/issues/62 : since mm 1.1 we can have strong reference on gauges so this difference with counters and such i

[2019-11-02 06:22] jonatan-ivanov commented on #86
@jotak I see, I did not know about this [property](https://micrometer.io/docs/concepts#_why_is_my_gauge_reporting_nan_or_disappearing) of gauges, thank you for your answer.

I think we are talking about two things here, I'm happy to help and open PRs for both:
1. Prettifying the codebase by removing the `ConcurrentHashMap` and using the built-in [`strongReference`](https://github.com/micrometer-me

[2019-11-05 13:28] jotak commented on #86
@jonatan-ivanov it's still possible to run into memory issues indeed when some tags value are unbounded and high cardinality, there will be no magic against that. So in such situation it's recommended to disable or amend the 'faulty' labels, such as Path. This topic is documented here: https://vertx.io/docs/vertx-micrometer-metrics/java/#_labels_and_matchers

But with gauges it's a bit worse if I

[2019-11-05 14:49] jotak commented on #86
Actually it turns out I was wrong, the concurrent hashmap we use here is bound to the labels cardinality _after_ applying the filters so it shouldn't grow more than the actual micrometer registry. And btw getting rid of that map doesn't seem _that_ easy

[2019-11-05 14:50] jotak commented on #86
(Here's a test proving that: )

[code]

[2019-11-05 19:10] encodeering commented on #86
Would agree that this is more an issue regarding the variability of all the dimensions that are taken into account by default.

For instance, `PATH` and `CODE` solely are also quite heavy in terms of their cross product and response times are a good candidate for calculating histograms, adding a hidden third dimension when applying a distributional filter in addition. There is more to read about t

[2019-11-07 11:12] sudheerbhat opened #88 "Missing queue-delay for http client metrics"
The current VertxHttpClientMetrics is missing the queue delay timer for the http client. This is useful metric IMHO as it could help in tuning the http client pool size.

[2019-11-07 11:45] jotak commented on #88
@vietj that would be a timer between `enqueueRequest` and `dequeueRequest` I guess : https://github.com/vert-x3/vertx-micrometer-metrics/blob/master/src/main/java/io/vertx/micrometer/impl/VertxHttpClientMetrics.java#L71-L78

Is it guaranteed that all enqueued requests are dequeued or are there other paths (such as cancellation or whatever) ?

[2019-11-13 17:55] jonatan-ivanov commented on #86
@encodeering I'm not sure about code `CODE`. That set is finite and I would not say it is big while the `PATH` is practically infinite. `CODE` makes it even worse but filtering it out will not solve the issue, `PATH` is still infinite.

@jotak What do you think, is it possible to use the `ROUTE` instead of the `PATH`?

[2019-11-20 00:01] dtaveras opened #89 "Custom Tag Provider"
The generation of tags is tied to Label types. Is there a way to add a custom tag?
I do understand that there is common tags in the MeterRegistry but i was more looking for one when creating the Meter. As an example I want to tag each meter with a user

[2019-11-20 13:29] jotak commented on #86
If i'm correct, only bounded-cardinality labels are currently enabled by default. See here: `PATH` labels is not enabled by default so you have to manually turn it on.

@jonatan-ivanov if I understand correctly what you want, you'd like to re-use the route pattern definition as provided to vertx-web / Router as a label instead of the actual path, right? (e.g. `/resource/:id` instead of `/resource/

[2019-11-20 13:39] jotak commented on #89
Hi @dtaveras ,

As you say, the MeterRegistry has common tags ; and you can get that registry to impact all registered metrics. E.g.

[code]
Is that not what you're looking for?

[2019-11-20 20:42] dtaveras commented on #89
I was more interested in being able to extract more information based on the request, so having a tag provider with signature Request -> [Tag].
As example we also use https://github.com/micrometer-metrics/micrometer/blob/master/micrometer-jersey2/src/main/java/io/micrometer/jersey2/server/MetricsRequestEventListener.java which accepts a tag provider with the signature above.

[2019-11-20 21:05] dtaveras commented on #89
common tags will do for now, was just curious if i missed something.

[2019-11-21 11:24] jotak commented on #86
Actually I've just seen it mentioned here: https://github.com/vert-x3/vertx-web/issues/1431

[2019-11-25 14:47] jotak commented on #89
I think I get it, it seems like a good enhancement to add.

[2019-11-29 03:47] dtaveras commented on #89
Thanks, great job with this library. A ton of great features and easy to configure.

[2019-12-17 12:08] nitish24p opened #90 "Invalid registry: null"
I am trying to set up Micrometer metrics for my vertx app which is an Http server, by creating a scraping route on my app server itself, as shown below

[code]

How every when i hit the endpoint i get an error saying invalid registry..
[code]

I have made a custom Vertx launcher and used the lifecycle hooks to add metrics to VertxOptions as shown below.

[code]

However in the `afterStartingVertx`

[2019-12-18 08:21] jotak commented on #90
Hi @nitish24p

`getDefaultNow` can indeed return null when the registry is not found, in your case probably it didn't have time to initialize yet? But I'm surprised, because in general I'm able to call `get[Default]Now` right after the vertx instance creation, as in this test for instance: https://github.com/vert-x3/vertx-micrometer-metrics/blob/master/src/test/java/io/vertx/micrometer/VertxHttpCl

[2019-12-18 08:27] jotak commented on #90
@nitish24p can you tell if the registry is properly created within `afterStartingVertx` ? i.e. it doesn't exit on your `if (registry == null)` check?

[2019-12-18 08:31] jotak commented on #90
Also, I would suggest that you remove the config line `.setRegistryName("default")` ; or alternatively, if you want to keep it, you explicitly use the named methods when accessing the registry: `.getNow("default")` instead of `getDefaultNow()` and `PrometheusScrapingHandler.create("default")` instead of `PrometheusScrapingHandler.create()`.

It will probably make no difference since "default" is t

[2019-12-18 09:09] nitish24p commented on #90
Hi @jotak Yes i removed that. I found the issue.. Another vertx dependency in my app was using The DropWizardMetrics factory method, and by default that was being added in the default case which was causing the registry to become null. So fixed it by explicitly setting the VertxFactory to micrometer.

Closing the issue.

[2019-12-18 09:09] #90 closed

[2019-12-18 09:22] jotak commented on #90
I've tried to reproduce with a Launcher and some tests, I couldn't reproduce.
This is my code:

Test + Launcher:
(the async/await stuff is just to synchronize Launcher start with the Test)

[code]

Verticle:

[code]

Output:

[code]

So the registry is not null here. Do you see any obvious/suspicious difference with your implementation?

[2019-12-18 09:23] jotak commented on #90
@nitish24p ah ok, cool

[2019-12-27 11:02] anatoliyck opened #91 "Performance degradation when metrics is enabled"
Vert.x version = 3.8.4

In my case a performance degradation between 25-35%. Under load event loop goes into `BLOCKED` status.

Vertx options:
[code]

with disabled metrics everything is ok...

### Case 1
I deploy STOMP server(N instances) as worker verticle.

**Result:**
[code]

### Case 2
I deploy STOMP server(N instances) and call:
[code]
**Result:**
[code]

[2020-01-07 20:59] sfitts opened #92 "Label matches don't seem to actually filter anything."
Adding a label match would seem to imply that if a given meter has a non-matching value for the given label, it should be rejected.  However, the current implementation is using these to create Micrometer "accept" filters.  All those can do is guarantee acceptance.  This means that for non-matching meters the response is "NEUTRAL" which by default means the meter will be added.

At a minimum it se

[2020-01-13 08:35] jotak commented on #92
Oh, that's right! We need to reverse the logic
https://micrometer.io/docs/concepts#_denyaccept_meters

[2020-01-13 08:52] jotak commented on #92
For anybody who'd like a workaround before the fix is merged, it's possible to achieve the same directly via micrometer registry config:

[code]

[2020-01-31 19:49] #92 closed

[2020-02-11 18:58] sfitts opened #95 ""Pending" message gauges should be set to zero when handler is unregistered"
### Version

3.8.4

### Context

When looking at the values reported for the `vertx_eventbus_pending` gauge associated with the "credit" EB addresses I noticed that they frequently got "stuck" with a non-zero value.  These addresses are generated and tend to come and go quickly, so it isn't uncommon for one to be unregistered while it still has a pending message to process (at least not at load).

[2020-02-12 18:05] sfitts commented on #54
The current SPI would allow you to track the scheduling rate vs. the delivery rate and determine if/when those 2 diverge.  However, something you can't currently do is compute the actual delivery latency.  This is something we find useful for analyzing our application and currently we've had to tack it on above the bus.  It isn't something we leave on all the time, but having the option to gather

[2020-02-12 18:45] sfitts opened #96 "MicrometerMetricsOptions does not override setFactory"
### Version

3.8.5

### Context

The class `MicrometerMetricsOptions` does not override `setFactory` from the parent class, so it can't be used fluently if that method is called.  (FWIW, it does override `setEnabled`).

### Steps to reproduce

Try doing the following:

[code]

It won't compile.  If you remove the `setFactory` method, it will.

### Workaround

Put the call to `setFactory` last.  Th

[2020-02-13 13:00] jotak commented on #95
It makes sense to me, either to have a new hook for discarded messages, or to mirror the behaviour of `HandlerRegistration` and reset pending list when it's unregistered.

@vietj or @tsegismont do you agree?

I also see that in Vert.x 4 the `HandlerRegistration` class seems to have been widely refactored so I'm not sure if this needs to be done in master as well? (I don't see any discarding mechan

[2020-02-13 13:04] jotak commented on #96
I'm looking into it

[2020-02-13 13:21] #96 closed

[2020-02-18 13:20] tsegismont commented on #95
@jotak I commented on the PR. I believe it makes sense to reset pending list in the SPI implementation when the `handlerUnregistration` callback is invoked

[2020-02-22 16:40] sfitts opened #100 "InfluxNamingConventions should allow the tag value "time""
### Version

3.8.6

### Context

When attempting to write a tag with the value "time", you get an exception from `InfluxNamingConventions.tagValue`.  This is too restrictive.  The current version (1.7) of Influx allows the use of `time` as a tag value, just not as a tag key.  See https://docs.influxdata.com/influxdb/v1.7/query_language/spec/#keywords.

### Steps to reproduce

Create a meter with a

[2020-03-09 09:16] tsegismont commented on #95
Fixed by a385f82

[2020-03-09 09:16] #95 closed

[2020-03-13 16:16] jotak commented on #100
This sounds like a micrometer issue. Perhaps already solved in newer versions?

[2020-03-13 16:22] sfitts commented on #100
You are correct, the class in question does come from micrometer.  But it would be nice if the Vert.x library worked around this by using its own conventions class (the one above is just the default).  FWIW, that's what we've done in our code.

They have not addressed this in the most recent release (just looked at there code in master and it is still the same).

[2020-03-13 16:24] sfitts commented on #100
Logged https://github.com/micrometer-metrics/micrometer/issues/1902 to track this on their side.

[2020-03-16 22:58] pankajtaneja86 opened #102 "java.util.concurrent.ExecutionException: java.lang.NoClassDefFoundError: io/vertx/micrometer/impl/Label"
Have these entries in my POM.xml

    <dependency>
      <groupId>io.vertx</groupId>
      <artifactId>vertx-micrometer-metrics</artifactId>
      <version>3.8.3</version>
    </dependency>
    <dependency>
      <groupId>io.micrometer</groupId>
      <artifactId>micrometer-registry-influx</artifactId>
      <version>1.3.5</version>
    </dependency>

java.util.concurrent.ExecutionException: java.

[2020-03-17 20:59] jonatan-ivanov commented on #102
Hi,

There is no `io.vertx.micrometer.impl.Label` (singular) class anymore, it was moved/renamed to `io.vertx.micrometer.Label` (no `impl`) in the package name. https://github.com/vert-x3/vertx-micrometer-metrics/blob/master/src/main/java/io/vertx/micrometer/Label.java

Your code depends on an older version of vert.x maybe 3.5.x, update the package name ant it will be ok.

[2020-03-17 23:39] pankajtaneja86 commented on #102
Thank you @jonatan-ivanov

[2020-03-17 23:39] #102 closed

[2020-03-18 09:16] vietj commented on #95
see https://github.com/vert-x3/vertx-dropwizard-metrics/issues/97 and https://github.com/vert-x3/vertx-dropwizard-metrics/issues/96

[2020-04-25 15:23] sfitts commented on #100
This has been fixed and will be in `1.1.11`.  What are the update plans here?

[2020-04-25 15:27] sfitts commented on #88
Looking at the SPI you definitely have the context you need to do this (the object created by `createEndpoint` is tracked through the other calls.  There doesn't appear to be anyway else out of the queue, so it could be the timer you suggest.

If not a timer, then at least a gauge so you can visualize the queue depths and make sure your pool sizes are correct.

[2020-04-25 16:07] vietj commented on #88
@jotak I think some requests might not be dequeued when the client is closed but for sure we would need to check that with a test in vertx core

I think indeed it would be great to add such feature.

[2020-04-25 16:09] vietj commented on #88
by test I mean:

1. create an http client request
2. the server does not send a response
3. the client is closed
4. check what happens

[2020-04-25 16:10] vietj commented on #88
also check what are the other path of failures, because if the client is closed then the corresponding HttpClientMetrics will be closed as well.

[2020-05-29 12:03] vietj opened #105 "Verticle metrics deployment removal"
See https://github.com/eclipse-vertx/vert.x/issues/3432

[2020-05-29 12:04] #105 closed

[2020-06-25 18:04] vietj opened #106 "Client metrics implementation"
This https://github.com/eclipse-vertx/vert.x/issues/3467 provides a client metrics SPI (similar to HTTP client metrics) that will be used by Vert.x clients to report metrics, e.g the SQL client uses it since https://github.com/eclipse-vertx/vertx-sql-client/issues/698

[2020-06-25 18:04] vietj commented on #106
@jotak FYI , this should not be too much work

[2020-06-26 08:29] jotak commented on #106
What's the expectations for these metrics? I guess counter + processing time measurement for both requests and responses?
Is there an implementation reference (dropwizard...) or not yet?

[2020-06-26 10:12] jotak commented on #106
Put differently, what is worth measuring ? Given the example provided, I would say:

- Queue time
- Full processing time w/ network latency (from RQ begin to RS end)

Does RQ processing time alone, or RS time alone make sense to measure? (btw I'm seeing in https://github.com/eclipse-vertx/vertx-sql-client/commit/e8b9e0437d0ae30978d03d203d3f0d90feb45600 that RQ begin is called without RQ end)

[2020-06-27 15:39] vietj commented on #106
is there a bug in SQL client implementation ?

[2020-06-30 05:31] vietj commented on #106
@jotak see https://github.com/eclipse-vertx/vertx-sql-client/commit/0ff45b2f21ed61c657a1ab20d3c4ff9a04fb7b29 thanks :-)

[2020-06-30 09:30] Stwissel opened #109 "M5: Prometheus uses call no longer supported in Micrometer 1.5.1"
### Version

Vert.x 4.0.0 M5

### Context

We use Prometheus both for vert.x and application metrics. So our POM includes:

[code]

With micrometer.version = 1.3.5 all works, when upgrading to 1.5.1 (current version) vert.x start fails:

[code]

### Steps to reproduce

1.  Add dependency as above with version 1.5.1
2. Configure vert.x to run with micrometer

[code]

[2020-07-01 08:03] #88 closed

[2020-07-01 08:03] #106 closed

[2020-07-06 16:25] tsegismont commented on #109
vertx-micrometer is compiled against Micrometer 1.1.0 (see https://github.com/vert-x3/vertx-micrometer-metrics/blob/master/pom.xml#L41)

You must use plugins with this specific version or a later version that is compatible with 1.1.0.

That said, I think we could upgrade Vert.x Micrometer to the latest Micrometer LTS in Vert.x 4.

wdyt @jotak ?

[2020-07-06 16:27] tsegismont commented on #100
@sfitts have you tried to force the dep version to `1.1.11` in your project? It's a micro release update so it should work.

[2020-07-07 00:31] sfitts commented on #100
@tsegismont we're actually using the 1.3.x release without any issues.  I've brought us up to the most current release there to pull in that fix.  Would still be nice to see an update here to a more recent version (the active line is at 1.5.x right now).

[2020-07-07 09:28] tsegismont commented on #100
Agreed. Together with @jotak we'll look into upgrading to 1.5.x in Vert.x 4

[2020-07-07 13:34] jotak commented on #109
+1
We need to evaluate the gap with the currently used micrometer version

[2020-07-07 14:04] jotak commented on #109
Hey, with further investigation, you should probably be able to fix this without having to wait for a vertx release.

This `NoSuchMethod` happens on call to `requireValid` which default is defined in micrometer-core. I guess you just have a version mismatch between `micrometer-registry-prometheus` and `micrometer-core`, so you can try pulling explicitly `micrometer-core` 1.5.1 in your pom.

Note t

[2020-07-07 14:15] tsegismont commented on #109
Thank you Joel!

[2020-07-28 05:32] #100 closed

[2020-07-28 05:32] #109 closed

[2020-07-29 07:39] Stwissel commented on #109
Challenge came back. Vertx 4.0.0.Beta1:

[code]

[2020-07-29 08:10] jotak commented on #109
@Stwissel what's the effective versions of `micrometer-registry-prometheus` and `micrometer-core` that you are using?

[2020-07-29 08:12] jotak commented on #109
Actually, I'm just seeing that 4.0.0.Beta1 doesn't include the micrometer version bump of #110 :-(

[2020-07-29 08:14] jotak commented on #109
@tsegismont @vietj  is there another planned beta to make sure this case is fixed?

[2020-07-30 08:17] HaidStefan commented on #84
Hello, I currently have the same issue but it is still not working for me.

The vertx-version I use is 3.7.0 with the rxjava extension and I use the following micrometer dependencies:
[code]

The code I'm using to get the Metrics Snapshot:
[code]
If the JvmMetrics are enabled i receive the same Error as above:
[code]

Shouldn't this have been fixed from the 3.8.1 Version? I've also tried to use 3.

[2020-07-30 08:24] tjakopan commented on #84
It is fixed, it's not throwing that exception for us on higher versions of vertx.

Double check that maven is actually resolving metrics as v3.9.2 and not v3.7.0.

[2020-07-30 08:30] HaidStefan commented on #84
Ohh my bad. So Vertx Version 3.8.1 + is required too in this case.

[2020-08-10 12:47] tsegismont commented on #109
@jotak not planned yet, but there will be another beta.

[2020-08-30 11:02] Stimzz opened #112 "Enabling Micrometer metrics while using a UNIX native domain socket causes NPE"
### Questions

If having enabled MicrometerMetrics while connecting to an UNIX native domain socket it result in an NPE when io.vertx.core.net.impl.SocketAddressImpl is instantiated. The SocketAddress is instantiated with a port, host constructor but the host argument is null and it has a require not null check in the constructor.

The issue can be avoided by turning off Micrometer but a more prec

[2020-08-31 09:26] tsegismont commented on #112
@jotak can you look into this? Is this specific to the Micrometer implementation or a more generic problem when domain sockets are used?

[2020-09-02 07:13] #34 closed

[2020-09-02 07:24] #86 closed

[2020-09-02 09:39] jotak commented on #112
Yes I confirm, bug spotted on our micrometer impl side, we are indeed assuming inet address with host & port

[2020-09-02 14:39] #112 closed

[2020-09-30 15:08] jotak opened #114 "Rename some metrics to better match conventions"
Some metrics are a mix of snake case and camel case.
E.g. `vertx_http_client_responseTime_seconds`

It would be nice to take the opportunity of major release (vertx 4) to rename them.
As it's a breaking change for metrics consumers, some compatibility mode should be implemented.

[2020-10-05 13:04] #54 closed

[2020-10-19 09:23] #114 closed

[2020-10-21 07:58] ylemoigne opened #118 "VertxMetricsImpl.createClientMetrics is not thread-safe (ConcurrentModificationException)"
Reposting from : https://github.com/eclipse-vertx/vertx-sql-client/issues/786

### Version

4.0.0-SNAPSHOT

### Context

The exception :
java.util.ConcurrentModificationException
	at java.base/java.util.HashMap.computeIfAbsent(HashMap.java:1226)
	at io.vertx.micrometer.impl.VertxMetricsImpl.createClientMetrics(VertxMetricsImpl.java:150)
	at io.vertx.mysqlclient.impl.MySQLPoolImpl.create(MySQLPoolI

[2020-10-21 10:20] jotak commented on #118
Thanks for reporting @ylemoigne
I just pushed a fix. Better to enforce thread-safety, I think, than an implicit restriction to use the event loop in this scenario. (Though I'm not sure if there can be other side-effects in other places ...)

BTW only 4.0.0 is affected as there was no sql client metrics in 3.x

[2020-11-23 14:15] jotak commented on #118
Closing, was fixed in 4.0.0 snapshot & release candidates
https://github.com/vert-x3/vertx-micrometer-metrics/commit/849b78927a38345927f67685669315ffb177e8f9

[2020-11-23 14:15] #118 closed

[2021-01-28 06:40] liukch opened #120 "Why the verticle metrics 'vertx_verticle_deployed' was deleted?"
I am upgrading Vertx from 3.9.5 to 4.0.0, I found the verticle metrics 'vertx_verticle_deployed' was deleted.
And the [vertx-4-migration-guide](https://vert-x3.github.io/vertx-4-migration-guide/index.html#changes-in-micrometer-metrics_changes-in-common-components) not mention of this change at all.
I am very confused with this improvement.
Isn't monitoring verticle number  essential for all Vertx

[2021-01-28 11:24] vietj commented on #120
it was removed because we felt it was not really used.

please open an issue to make your case and we can discuss from there.

On Thu, Jan 28, 2021 at 7:40 AM liukch <notifications@github.com> wrote:

[2021-01-29 02:29] liukch commented on #120
I use Promotheus to catch metrics and Grafana to compose observability dashboards.
The ```vertx_verticle_deployed``` is always an important panel to tell me the accurate verticle number of all this service instance.
If do not have this, I need calculate number by myself.

[2021-01-29 08:55] vietj commented on #120
if that's a blocker for you, please open an issue for it

On Fri, Jan 29, 2021 at 3:29 AM liukch <notifications@github.com> wrote:

[2021-01-29 09:47] liukch commented on #120
OK I will open a new issue.

[2021-01-29 09:59] liukch opened #121 "The 'vertx_verticle_deployed' verticle metrics was deleted in 4.0.0"
I upgrade Vertx version from 3.9.5 to 4.0.0, I find this metric was deleted:
1. The [vertx-4-migration-guide](https://vert-x3.github.io/vertx-4-migration-guide/index.html#changes-in-micrometer-metrics_changes-in-common-components) not mention of this change at all, this makes me confused during the upgrade process, I have to check the source code and Vertx documents to confirm  this change.
2. It

[2021-01-29 09:59] #120 closed

[2021-01-29 10:00] liukch commented on #121
#120

[2021-01-29 11:03] vietj commented on #121
cc @jotak

[2021-01-29 11:04] vietj commented on #121
we removed it because we thought it was not very useful

[2021-01-29 11:17] liukch commented on #121
If we do not have this, how should I know the total verticle number?
My be I will add a customized metric which have a same effect with 'vertx_verticle_deployed' or calculate it by my myself.

[2021-01-29 11:42] vietj commented on #121
@liukch you can cast use `Vertx.deploymentIDs()` and then retrieve each deployment using `VertxInternal` where you can count the number of instances of `Deployment`.

[2021-01-29 13:09] jotak commented on #121
I did not realize that it was a 4.0 change, as it was pretty old, I though it was also in 3.9 branch.... sorry about that :-/

If I'm correct the removal was targeting the whole SPI, not just this implementation, so if we want to take it back we need to change vertx-core too, and dropwizard.

[2021-01-29 13:50] vietj commented on #121
yes, it might be easier and more convenient to expose this as an API in
Vert.x I think than as a metric

On Fri, Jan 29, 2021 at 2:10 PM Joel Takvorian <notifications@github.com>
wrote:

[2021-02-01 02:28] liukch commented on #121
OK, thank a lot.

[2021-02-01 02:28] #121 closed

[2021-06-03 08:50] vietj commented on #89
@jotak do we have a contributor for this enhancement ?

[2021-06-03 08:54] jotak commented on #89
@vietj not that I know. I'm going to take a look.

[2021-07-23 13:31] #89 closed

[2021-10-06 12:54] nistorbog opened #127 "NPE in VertxEventBusMetrics.endHandleMessage"
java.lang.NullPointerException#	at io.vertx.micrometer.impl.VertxEventBusMetrics.endHandleMessage(VertxEventBusMetrics.java:99)#	at io.vertx.micrometer.impl.VertxEventBusMetrics.endHandleMessage(VertxEventBusMetrics.java:33)#	at io.vertx.core.eventbus.impl.HandlerRegistration.deliver(HandlerRegistration.java:273)#	at io.vertx.core.eventbus.impl.HandlerRegistration.handle(HandlerRegistration.java:2

[2021-10-07 13:26] ashcor opened #128 "NPE "address" field in VertxHttpClientMetrics::Handler is null"
### Version

4.1.5

### Context

[code]

### Do you have a reproducer?

No, unfortunately not.

### Extra

Getting this error when upgrading from vertx 3.9.9 to 4.1.5. We have one Influx registry configured for mircrometer. Only getting the error when running on heroku (Java 16).

Metrics are initialized with
[code]

[2021-10-08 08:23] jotak commented on #127
Hi @nistorbog ,
Which version of vert.x is it, and can you consider upgrading?
(a similar issue was fixed a while ago and looking at your stack trace, I think it's the same cause : https://github.com/vert-x3/vertx-micrometer-metrics/pull/82 )

[2021-11-02 20:59] ashcor commented on #128
From my observations a race condition could be the cause. I've only observed the issue under heavy load.

[2021-11-03 06:59] vietj commented on #128
the only case I can see is that a request has been scheduled by the client but not yet sent, so the metric is not yet there

[2021-11-03 07:34] vietj commented on #128
see https://github.com/eclipse-vertx/vert.x/pull/4159

[2021-11-03 08:08] #128 closed

[2021-11-03 08:09] vietj commented on #128
it will also be in 4.1.6

[2021-11-26 12:06] vikasgupta8 opened #130 "[UnixSocketTest]Test Failed on power architecture (ppc64le)"
### Questions

I am porting vertx-micrometer-metrics package on power architecture (ppc64le). The build is successful but one testcase (UnixSocketTest) is failing due to timeout.
I have build and tested on Linux x86_64 Architecture also and the build and test was successful.

I have debugged the source code and found it is failing in function DomainSocketServer() to create Http Server (on ppc64le)

[2021-11-29 09:25] tsegismont commented on #130
Can you paste the stacktrace?

[2021-11-30 04:49] vikasgupta8 commented on #130
Hi Thomas,

Below are the stack trace.
And the log starting with VIKAS in **bold** are my added logs.

Running io.vertx.micrometer.UnixSocketTest
**VIKAS:DomainSocketServer FAILURE
VIKAS:DomainSocketClientTriggerVerticle FAILURE**
Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 10.607 sec <<< FAILURE! - in io.vertx.micrometer.UnixSocketTest
shouldWriteOnUnixSocket(io.vertx.micromet

[2021-11-30 07:59] vietj commented on #130
which OS are you using ?

[2021-11-30 08:14] vikasgupta8 commented on #130
Hi Julien,

I am using RHEL 8.5. Please find more details below.

[root@4d6e7cf404ea vertx-micrometer-metrics]# cat /etc/os-release
NAME="Red Hat Enterprise Linux"
VERSION="8.5 (Ootpa)"
ID="rhel"
ID_LIKE="fedora"
VERSION_ID="8.5"
PLATFORM_ID="platform:el8"
PRETTY_NAME="Red Hat Enterprise Linux 8.5 (Ootpa)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:8::baseos"
HOME_URL="https://www.

[2021-11-30 08:32] vietj commented on #130
you need to change this jar

   <dependency>

      <groupId>io.netty</groupId>
      <artifactId>netty-transport-native-epoll</artifactId>
      <classifier>linux-x86_64</classifier>
      <scope>test</scope>
    </dependency>

to use the PPC one if that exist or recompile it for PPC using the sources

[2021-12-03 10:21] Mersenne255 opened #131 "Metric vertx_net_client_active_connections not being decreased"
### Version

vertx 4.2.0

### Context

Values for gauge metric `vertx_net_client_active_connections` are not being decreased on http connection closed.

### Do you have a reproducer?

https://github.com/Mersenne255/vertx_issue_4185_reproducer
Reproducer submits single http request and ends afterwards.
`vertx_net_client_active_connections` keeps showing value of 1, http metric vertx_http_client_act

[2021-12-03 11:00] vikasgupta8 commented on #130
Thank you Julien for guiding to right direction.

I have build the **netty-transport-native-epoll** for **ppc64le** and added dependency into pom.xml file for vertx-micrometer-metrics.

Now the test is passing.

Thank you very much for your help.

[2021-12-03 11:00] #130 closed

[2021-12-13 10:15] jotak commented on #131
Hi @Mersenne255 ,

There's indeed an issue with the active connections for net client, whereas the active connections for the HTTP client is correct (we can see that in your reproducer). If you're only interested in tracking the HTTP active connections, I'd suggest that you just ignore the net client metric until we can fix it.

@vietj if I'm correct the issue with the net client is because the HT

[2021-12-13 10:59] vietj commented on #131
it seems lke a bug in vertx core

[2021-12-13 10:59] vietj commented on #131
i will take care of it

[2021-12-13 10:59] vietj commented on #131
I'm also have a look now :-)

[2021-12-13 19:09] #131 closed

[2022-02-02 11:14] jordillachmrf opened #133 "Implement custom tags provider for HTTP Client metrics"
#### Describe the feature

Implement custom tags provider for HTTP Client metrics, as already done for http server metrics
 https://github.com/vert-x3/vertx-micrometer-metrics/pull/124

#### Use cases

Expose extra tags such as path and remoteHost for http client metric

I could allocate some time to create the PR if the team thinks is useful.

Should we use the same RequestTagProvider ? or create

[2022-02-04 00:24] jotak commented on #133
Hey @jordillachmrf , I think it makes sense to have the same for client metrics. Thanks for offering your help!

I would say it's better to create a dedicated setting for client requests

[2022-03-18 14:07] SaschaLucius opened #137 "PrometheusScrapingHandler is not working with CompositeMeterRegistry"
### Version

4.2.5

### Context

I encountered an error while using a `CompositeMeterRegistry` with the `PrometheusScrapingHandler`.
I would expect that this should work as long as a `PrometheusMeterRegistry` is registered somewhere.

### Do you have a reproducer?

No

### Steps to reproduce

1. start with following example https://vertx.io/docs/vertx-micrometer-metrics/java/#_binding_metrics_to_a

[2022-04-04 14:01] jhalliday opened #139 "Incorrect Gauge id mapping scope"
### Version

4.2.6

### Context

Whilst developing a partial fix for #91 I've realised the current approach is not just somewhat slow, it also appears to be incorrect in certain circumstances.

Gauges instances each contain an Id->T map, whilst MeterRegistry instances have an Id->Gauge(T) map. This becomes a problem when multiple Gauges instances have a shared MeterRegistry instance, since despite

[2022-04-04 14:16] jhalliday commented on #91
Micrometer's Tag manipulation is sadly expensive and there doesn't seem to be much that can be done about that without changes to the micrometer library rather than vertx. However, I have a patch that moves the locking off the Gauge lookup (as distinct from create) path, which reduces metrics usage impact on throughput by around half in my microbenchmarks. You still pay the CPU cost, but at least

[2022-04-06 19:25] tsegismont commented on #91
cc @jotak

[2022-05-06 11:11] pierDipi commented on #91
Hi, we're seeing a similar behavior when Prometheus is scraping metrics [1] or when some Vertx Metrics are enabled (we ended up disabling them)

@jhalliday, would you mind sharing your patch (even if it's not entirely completed)? I can take a look.

[1]
[code]

[2022-06-01 08:43] redkite58 opened #141 "Expose new InfluxDb 2.0 configuration options so Vert.x can support influxDb 2.0 connections"
Seen in Vext.x version 4.3.1

The Vert.x Micrometer Metrics 4.3.1 release has now included the io.micrometer-> micrometer-registry-influx 1.8.4 as a compiled dependency. This dependency provides support for InfluxDb 2.0 connections (see https://github.com/micrometer-metrics/micrometer/issues/1974 for more details).

InfluxDb 2.0 provides three new connection properties:
- org
- bucket
- token
-
If

[2022-06-01 13:44] tsegismont commented on #141
@vietj I have asked @redkite58 to file this issue in https://groups.google.com/g/vertx/c/9mCsl4rKhhc/m/rIS_xANBBgAJ

@redkite58 you should start by adding the new properties to `InfluxDBOptions` and update its `toMicrometerConfig`.

[2022-06-10 09:42] HelloTo4x opened #142 "about micrometer"
Hi, i am reading your project, why do you use Micrometer for collecting metric ? why don't you use Grafana + Prometheus to collect log and metric ? Do you know about pros and cons of Micrometer, can you tell me about it

[2022-06-10 10:15] tsegismont commented on #142
Micrometer is a metrics facade. We use it because backends are pluggable (Prometheus, Influx, JMX, ... etc).

You can definitely have a setup where Vert.x stores metrics in Prometheus and then visualize them in Grafana.
See https://how-to.vertx.io/metrics-prometheus-grafana-howto/

[2022-06-10 10:15] #142 closed

[2022-06-10 10:31] tsegismont commented on #91
There is a proposed fix in #143

I will probably backport it to 4.2

[2022-06-10 18:05] tsegismont commented on #139
@jhalliday in #146 we make sure all tests use a different registry.

Users creating multiple Vert.x instances inside a same JVM are often not using the metrics SPI but rather build their own metrics.
If they are, they should set a registry name or force a registry instance.

Thanks for this report, it was helpful.

[2022-06-17 08:23] #91 closed

[2022-06-17 08:23] #139 closed

[2022-07-06 14:56] halber opened #149 "inconsistent gauge fields: min <= avg <= max doesn't hold"
### Version

vertx-micrometer-metrics:4.2.7
micrometer-core:1.8.3

### Context

We are using Vertx-micrometer with a Dynatrace. Currently we see many errors of the following type in our logs:

inconsistent gauge fields: min <= avg <= max doesn't hold: min: 13.631488, max: 14.040212, sum: 26.734909, count: 2, avg: 13.367455, tolerance: 0.000001

This message corresponds to the following line sent t

[2022-07-07 12:00] DemonicTutor opened #150 "Using Micrometer Filters to disable any VertX Gauge measurement causes infinite loop"
### Version

VertX 4.3.2

### Context

(https://github.com/vert-x3/vertx-micrometer-metrics/commit/5a4a10a16695b8d81866d0325e9125bc63e8d43d)

In our microservices we are filtering out certain metrics from micrometer / prometheus to reduce the overall load (we dont need them) and this also includes specific metrics tracked by vertx like:

[code]

for now i fixed this for us by changing from using M

[2022-07-07 13:30] tsegismont commented on #150
Thanks for the report @DemonicTutor

[2022-07-08 11:19] #150 closed

[2022-07-08 13:25] tsegismont commented on #149
This really looks like the problem reported in https://github.com/micrometer-metrics/micrometer/issues/3007

Can you check you actually use 1.8.3 with your Vert.x app?

[2022-07-08 14:31] wem opened #154 "Endless loop on Gauges#get if tag limit defined and reached."
### Version

4.3.2

### Context

If a Tag limit with deny is configured, the function Gauges#get will end up in an endless loop. This because if the limit did deny the tag the gauge instance will be of type NoopGauge, where the ToDoubleFunc never get called. Therefore the for loop will never end.

[2022-07-08 14:37] halber commented on #149
Yes, I am sure.
reduced gradle dependency graph:
runtimeClasspath - Runtime classpath of source set 'main'.
+--- ...
|    +--- io.vertx:vertx-micrometer-metrics:4.2.7
|    |    +--- io.micrometer:micrometer-core:1.6.2 -> 1.8.3
...
+--- ...
|    \--- io.micrometer:micrometer-registry-dynatrace:1.8.3
|         +--- io.micrometer:micrometer-core:1.8.3 (*)

[2022-07-08 14:45] tsegismont commented on #154
Thank you @wem , looks like a duplicate of #150

[2022-07-08 14:45] #154 closed

[2022-08-10 14:32] tsegismont commented on #133
Fixes in #134

[2022-08-10 14:32] #133 closed

[2022-08-10 14:34] tsegismont commented on #149
Closing for missing details about how to reproduce

[2022-08-10 14:34] #149 closed

[2022-08-10 14:38] #87 closed

[2022-08-10 14:39] #127 closed

[2022-08-10 14:40] #60 closed

[2022-08-10 14:40] #78 closed

[2022-08-10 14:41] tsegismont commented on #141
@redkite58 still want to contribute this?

[2022-09-30 13:53] tsegismont commented on #137
Thanks for reporting this.

This will be fixed in #157 : you will be able to provide a specific Prometheus meter registry when creating the scraping handler.

[2022-10-04 09:34] #137 closed

[2022-10-04 14:51] #141 closed

[2022-10-05 20:56] tsegismont commented on #62
Outdated

[2022-10-05 20:56] #62 closed

[2022-10-05 20:58] tsegismont commented on #63
Outdated

[2022-10-05 20:58] #63 closed

[2022-11-15 23:05] jonatan-ivanov opened #162 "Add support for Micrometer's new Observation API"
#### Describe the feature

With [Micrometer](https://micrometer.io/) 1.10.0 (I'm a maintainer), a new API was released called the [Observation API](https://micrometer.io/docs/observation). It lets users instrument their components once and then get multiple benefits out of it e.g.: metrics, distributed tracing, (audit) logs, publishing arbitrary events, etc.

(We also released [Micrometer Tracing]

[2022-11-18 10:33] tsegismont opened #164 "Upgrade to Micrometer 1.10"
We had to [revert](https://github.com/vert-x3/vertx-micrometer-metrics/commit/d4d4fb6877c8a02582ecfbc568ff6e8e9adc2fc2) the upgrade to `1.10` in Vert.x `4.3.5` because it creates a [conflict](https://github.com/vert-x3/vertx-lang-kotlin/actions/runs/3485327605/jobs/5830763975#step:4:247) with our supported version of Kotlin.

We need to make the upgrade again in 4.4, and that means probably some u

[2022-11-24 19:38] tsegismont commented on #162
Thank you for the heads-up @jonatan-ivanov , this should be considered when implementing #164